@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  aspect-ratio: 1/1;
}

.swiper:hover {
  .swiper-button-next {
    display: block !important;
  }

  .swiper-button-prev {
    display: block !important; 
  }
}

.swiper-button-next {
  display: none !important;
  width: 28px !important;
  height: 28px !important;
  background-color: white;
  background-image: url('assets/next.svg') !important;
  border-radius: 50%;
  border-width: 4px;
  border-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.swiper-button-next::after {
  content: '' !important;
}

.swiper-button-prev {
  display: none !important;
  width: 28px !important;
  height: 28px !important;
  background-color: white;
  background-image: url('assets/prev.svg') !important;
  border-radius: 50%;
  border-width:4px;
  border-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.swiper-button-prev::after {
  content: '' !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  margin: 0 4px !important;
}